<%= form_with model: post_script_comment do |f| %>
  <h5>ここがフォームのページになります。</h5>
  <%= f.hidden_field :post_script_id %>
  <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに", class: "w-40" %>
  <%= f.submit "送信" %>
<% end %>