<div>
 <%= image_tag 'question.jpg', size: '200x200'%>
  <div>
    <p>
      What's <br> CoinLooker
    </p>
  </div>
</div>

<div>
  <h2>CoinLookerについて</h2>
    <p>
      CoinLookerはコインロッカーを素早く簡単に見つけるをモットーに
      作られたコミュニティ型のサイトです。<br>
      また、コミュニティー型のサイトになるため、あなたの情報提供で成り立っていきます。
    </p>
</div>
<div>
  <p>使用対象者</p>
  <ul>
    <li>旅行先で重い荷物を持っていて、荷物をコインロッカーに預けたい方</li>
    <li>出張先など、慣れていない場所で利用を考えている方</li>
    <li>イベントやライブに参加する時、なるべく荷物を身軽にしたい方</li>
  </ul>
</div>
