<div class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <div class="about-title">
        <%= image_tag 'about.jpg', size: '700x300'%>
        <p>
          What's <br> Coin_Looker
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-2">
      <div class="text-center">
        <h2>CoinLookerについて</h2>
      </div>
        <p class="about-text">
          CoinLookerはコインロッカーを素早く簡単に見つけるをモットーに作られたコミュニティ型のサイトです。<br>
          また、コミュニティー型のサイトになるため、あなたの情報提供で成り立っていきます。
        </p>
    </div>
  </div>
</div>
<div>
  <div class="target mt-3 mb-3">
    <div class="text-center mb-4">
      <strong><h3>使用対象者</h3></strong>
    </div>
    <div class="target-info">
      <ul class="about-text">
        <li>旅行先で重い荷物を持っていて、荷物をコインロッカーに預けたい方</li>
        <li>出張先など、慣れていない場所で利用を考えている方</li>
        <li>イベントやライブに参加する時、なるべく荷物を身軽にしたい方</li>
      </ul>
      <div class="loker-image ml-4 mb-4">
        <%= image_tag 'coin_loker_3.jpg', size: '400x200'%>
      </div>
    </div>
  </div>
</div>
