<div class="container">
  <div class="row">

    <div class="mx-auto">
      <%= image_tag 'coin_loker.jpg', size: '500x400'%>
      <div class="text-center">
        <%= render "searches/form" %>
      </div>
    </div>
  </div>
</div>